body {
  margin: 1rem;
  height: 100vh;
}
.test {
  display: flex;
  flex-direction: row;;
}
.test__results {
  border: 1px solid #eee;
  padding: 1rem;
}
.test__result {
  height: auto;
  padding: .8em .5em .8em 1.5em;
  margin-bottom: .46rem;
  background-color: #fff;
  border-radius: 0;
  overflow: hidden;
  width: 22rem;
}

.test__result--passed {
  background: linear-gradient(to right,#39aa56 0,#39aa56 8px,#fff 8px,#fff 100%) no-repeat;
}
.test__result--failed {
  background: linear-gradient(to right,#db4545 0,#db4545 8px,#fff 8px,#fff 100%) no-repeat;
}
.test__result--cancel {
  background: linear-gradient(to right,#9b9898 0,#979393 8px,#fff 8px,#fff 100%) no-repeat;
}

.test__result:hover {
  transition: box-shadow 0.2s;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}

.test__details {
  overflow: auto;
  border: 1px solid #eee;
  padding: 1rem;
  margin-left: 1rem;
}

.action-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}
.test-button {
  width: 10rem;
}
.test__cases {
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid #eee;
}
.test__cases ul ul {
  margin-left: 2rem;
}
.test__cases ul li::before {
  /* content: '○';
  padding-right: 2px;
  font-size: 0.6rem; */
}
.test__console {
  padding-top: 1rem;
  border-bottom: 1px solid #eee;
}

#terminal {
  overflow: auto;
}

.flex1 {
  flex: 1;
}

.test-cases {
  font-size: 14px;
  line-height: 1.5;
  list-style: none;
}
li {
  transition: 0.3s;
}
.collapse {
  height: calc(14px * 1.5);
  overflow: hidden;
}
.collapse .arrow {
  transform: rotate(0);
}

.arrow {
  height: 14px;
  margin-right: 4px;
  transform: rotate(90deg);
}
.arrow:hover {
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}